<!doctype html>
<html>
  <head>
    <title>Redirects</title>
  </head>

  <body>
    <table>
      <tr>
        <th>Alias</th>
        <th>URL</th>
      </tr>
      <% for (var alias in redirects) { %>
        <tr>
          <td><%= alias %></td>
          <td><%= redirects[alias] %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
